*{box-sizing: border-box;margin: 0;padding: 0;}

header{
       width: 1200px;
       height: 185px;
       background-color: gray;
}

nav{
    width: 1200px;
    height: 70px;
    background-color: white;
}

aside{
    width: 280px;
    height: 1000px;
    background-color:cadetblue; 
    float: left;
}

article{
    width: 1200px;
    height: 1000px;
   
}


section{
    width: 460px;
    height: 500px;
    float: right;    
}

footer{
    width: 1200px ;
    height: 200px;
    background-color: darkkhaki;
    clear: both;
}

#caixa{
       width: 1200px;
       height: 1455px;
       margin: 0 auto;
}

#sec1{
     background-color: darkmagenta;
     float: left;
}

#sec2{
    background-color: darkorange;  
    float: left;  
}

#sec3{
    background-color: darkred;   
    float: left; 
}

#sec4{background-color: deeppink;
    float: left;    
}